html header {
    width 100%;
    height 100%;
}

body {
    background: url(../images/fractalice.png) no-repeat center top #FFFFFF;
    max-width: 100%;
    height: auto;
}

.text {
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 65%;
    padding: 0 auto;
    margin: 17%;
    margin-top: 300px;
    background-color: rgba(230, 255, 255, 0.8);
    color: #555;
}

.youtube {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    margin: 0px;
}

.youtube iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
}

.menu {
    text-align: center;
    z-index: 2;
    list-style: none;
    width: 100%;
    background: white;
    display: flex;
    position: fixed;
    justify-content: center;
    padding: 0%;
    margin: 0px;
}

.menu li {
    width: 250px;
    background-color: #333;
    height: 50px;
    margin-top: 30px;
    margin-left: 30px;
    line-height: 50px;
}


.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.menu a li:hover {
    background-color: gray;

}

.icons {
    z-index: 1;
    display: flex;
    justify-content: center;
    padding: 0%;
    margin: 0px;
    list-style: none;

}

.icons img {
    display: flex;
    padding: 5px;
}

@media screen and (max-width: 850px) {
    .icons {
        flex-direction: column;
        width: 25%;
        padding-left: 42%;
    }

}

@media screen and (max-width: 750px) {

    .menu {
        flex-direction: column;
    }
    .menu li {
        text-align: center;
        width: 50%;
        margin-top: 5px;
        margin-left: 25%;
    }
}


.worklist {
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 65%;
    padding: 0 auto;
    margin: 18%;
    margin-top: 300px;
    display: grid;
    grid-gap: 010px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.item {
    border-radius: 25px;
    background-color: rgba(230, 255, 255, 0.8);
    color: #000000;
    padding: 15px;
}

.worklist a :hover {
    background-color: rgba(200, 255, 255, 1);
}

canvas {
    display: block;
    margin: 0 auto;

}
